.product-detail {
    width: 80%;
    margin: 2rem auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

/* .product-header {
    display: flex;
} */

.main-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-info {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.price {
    font-size: 2rem;
    color: var(--az-red);
    margin: 1rem 0;
}

.description {
    margin-top: 2rem;
}

.description ul {
    margin: 1rem 0;
    padding-left: 1.5rem;
}

.other-products {
    width: 80%;
    margin: 2rem auto;
    padding: 0 2rem;
}

.other-product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.other-product-card {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.other-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.other-product-card a {
    text-decoration: none;
}

.other-product-card a:hover {
    text-decoration: underline black;
}